.product-tiles__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

.product-tiles__title {
    font-size: 3.5rem;
}

.product-tiles__wrapper p {
    width: 60%;
    text-align: center;
}

.product-tiles__tiles-wrapper {
    display: flex;
    gap: 2rem;
}

.product-tiles__card {
    width: 30rem;

}